*
{
     margin: 0px;
     padding: 0px;
}
#logo
{
     height: 60px;
}
#logo_text
{
     font-size: 40px;
     margin-top: 9px;
     font-family: 'Satisfy', cursive;
     margin-left: -12px;
}
#logo_div
{
     display: flex;
}
#nav
{
     background-color: #F46E3A;
     padding: 10px;
}